@using Model.ViewModels
@model ViewModelHomePage
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebsitePresentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sitelarge.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sitemedium.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sitesmall.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/siteforall.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebsitePresentation.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ناوەندی سیاسەت وانانی کورد</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">ماڵپەری سەرەکی</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">لەبارەی ئێمە</a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <!--overlay navigation -->
    <div id="myNav" class="overlay">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <!-- Overlay content -->
        <div class="overlay-content">
            @{
                if (Model.checkThemDictionary != null)
                {
                    if (Model.checkThemDictionary["RightSection"] == true)
                    {
                        if (Model.sectionFirstSteps!.ToList().Count() >= 1)
                        {

                            for (var firstStepItem = 0; firstStepItem < Model.sectionFirstSteps!.Count(); firstStepItem++)
                            {
                                <div class="blockinformationoverly">
                                    <div class="right-balaoverly">@Model.sectionFirstSteps!.ToArray()[firstStepItem].Name</div>
                                    <div class="right-vasatoverly">
                                        <ul>
                                            @for (var secondStepItem = 0; secondStepItem < Model.sectionSecondSteps!.Count(); secondStepItem++)
                                            {
                                                if (@Model.sectionSecondSteps!.ToArray()[secondStepItem].Id_SectionFirstStep == @Model.sectionFirstSteps!.ToArray()[firstStepItem].Id)
                                                {
                                                    <li>
                                                        @Html.ActionLink(@Model.sectionSecondSteps!.ToArray()[secondStepItem].Name, "Viewsubcategories", new { id = @Model.sectionSecondSteps!.ToArray()[secondStepItem].Id })

                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div class="right-payinoverly">
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            }
        </div>

    </div>
    <div class="container">

        @if (Model.checkThemDictionary != null)
        {
            @if (Model.checkThemDictionary["Header"] == true)
            {
                <div class="mainheader">
                    <div class="partheaderleft">
                    </div>
                    <div class="partheadercenter">
                        یەکیەتیی خوێندکاران

                    </div>
                    <div class="partheaderright">
                    </div>
                </div>
            }
        }


        @if (Model.checkThemDictionary != null)
        {
            @if (Model.checkThemDictionary["Search"] == true)
            {
                using (Html.BeginForm("searchIndex", "Home"))
                {
                    @Html.AntiForgeryToken()

                    <div id="menu">
                        <div id="menuleft">
                            @Html.TextBox("searchtxt")
                            <input type="submit" value="گەران" class="submitbutton" />

                        </div>

                        <div id="menuright">
                        </div>

                    </div>
                }
            }
        }
        @if (Model.checkThemDictionary != null)
        {
            @if (Model.checkThemDictionary["Marquee"] == true)
            {
                @* <div class="marquee">
        <marquee direction="right" onmouseover="this.stop()" onmouseout="this.start()">
        @foreach (var item in Model.hewalekan)
        {
        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●@Html.ActionLink(@item.learnname, "viewlearnsone", new { id = item.learnid })●</strong>
        }
        </marquee>
        </div>*@
            }

        }
        <div id="container">
            <div class="downloadbutton-allsubjects" onclick="openNav()">
                <!-- Use any element to open/show the overlay navigation menu -->
                <span onclick="openNav()">بابەتەکان</span>
            </div>
            <div id="right">
                @{
                    if (Model.checkThemDictionary != null)
                    {
                        if (Model.checkThemDictionary["RightSection"] == true)
                        {
                            if (Model.sectionFirstSteps!.ToList().Count() >= 1)
                            {

                                for (var firstStepItem = 0; firstStepItem < Model.sectionFirstSteps!.Count(); firstStepItem++)
                                {
                                    <div class="blockinformation">
                                        <div class="right-bala">@Model.sectionFirstSteps!.ToArray()[firstStepItem].Name</div>
                                        <div class="right-vasat">
                                            <ul>
                                                @for (var secondStepItem = 0; secondStepItem < Model.sectionSecondSteps!.Count(); secondStepItem++)
                                                {
                                                    if (@Model.sectionSecondSteps!.ToArray()[secondStepItem].Id_SectionFirstStep == @Model.sectionFirstSteps!.ToArray()[firstStepItem].Id)
                                                    {
                                                        <li>
                                                          &nbsp;    &nbsp;  ◄ @Html.ActionLink(@Model.sectionSecondSteps!.ToArray()[secondStepItem].Name, "Viewsubcategories", new { id = @Model.sectionSecondSteps!.ToArray()[secondStepItem].Id })

                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div class="right-payin">
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                }
                <br />
            </div>

            <div id="left">
                @if (Model.checkThemDictionary != null)
                {
                    @if (Model.checkThemDictionary["LeftSection"] == true)
                    {
                        <main role="main">
                            @RenderBody()
                        </main>

                    }
                }
            </div>
        </div>
        <div id="footer">
            @if (Model.checkThemDictionary != null)
            {
                @if (Model.checkThemDictionary["Footer"] == true)
                {
                    <div>
                        Copyright 2023
                        <ul>
                            <li><a href="https://www.facebook.com/BIRIXWENDKAR-108353811321514"><i class="fa fa-facebook"></i> </a></li>
                            <li><a href="https://twitter.com/BIRIXWENDKAR"><i class="fa fa-twitter"></i> </a></li>
                            <li><a href="https://www.instagram.com/BIRIXWENDKAR/"><i class="fa fa-instagram"></i> </a></li>
                            <li><a href="https://www.youtube.com/channel/UCfcpthCIJmAJVWdcTvzMtkQ"><i class="fa">&#xf167;</i> </a></li>

                        </ul>
                    </div>
                }
            }
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
