@using Microsoft.AspNetCore.Mvc.Localization;
@using Model.ViewModels
@using System.Globalization;
@model ViewModelHomePage
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer["websitetitle"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slideshow.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebsitePresentation.styles.css" asp-append-version="true" />
    @if (CultureInfo.CurrentCulture.Name == "ku-Arab" || CultureInfo.CurrentCulture.Name == "fa-IR")
    {
        <link rel="stylesheet" href="~/css/siteforall.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sitelarge.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sitemedium.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sitesmall.css" asp-append-version="true" />

    }
    @if (CultureInfo.CurrentCulture.Name == "en-US")
    {
        <link rel="stylesheet" href="~/css/siteforallltr.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sitelargeltr.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sitemediumltr.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/sitesmallltr.css" asp-append-version="true" />

    }

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> @Localizer["websitetitle"]</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["home"]</a>
                        </li>
                        @if (Model.checkThemDictionary != null)
                        {
                            if (Model.checkThemDictionary["AboutUs"] == true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">@Localizer["about"]</a>
                                </li>
                            }
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Administrator"))
                        {
                            if (Model.checkThemDictionary != null)
                            {
                                if (Model.checkThemDictionary["AdminPanel"] == true)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="AdministratorArea" asp-controller="HomeAdmin" asp-action="Index"> @Localizer["adminpanel"]</a>
                                    </li>
                                }
                            }
                            if (Model.checkThemDictionary != null)
                            {
                                if (Model.checkThemDictionary["AdminPanelArmy"] == true)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="ArmyMembersArea" asp-controller="ArmyMembers" asp-action="Index"> @Localizer["adminpanelarmy"]</a>
                                    </li>
                                }
                            }
                        }
                        @if (Model.checkThemDictionary != null)
                        {
                            if (Model.checkThemDictionary["Language"] == true)
                            {

                                <li class="nav-item dropdown">
                                    <i class="nav-link  text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @Localizer["language"]
                                    </i>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        @foreach (var item in Model.SectionLanguages!)
                                        {
                                            <li>
                                                @{
                                                    string imgLanguage = @item.Name + ".png";
                                                }
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ChangeLanguage" asp-route-Language="@item.Name" title="@item.TagsName">
                                                    @* <img src="~/Images/ImageThem/Icon/@imgLanguage">*@ @item.Title
                                                    @if (CultureInfo.CurrentCulture.Name == item.Name)
                                                    {
                                                        <i class="fa fa-check " aria-hidden="true"></i>
                                                    }
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                @* string imgLanguage = @item.Name + ".png";
                        <li class="nav-item" style="font-family:Bookman Old Style;font-weight:bold;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ChangeLanguage" asp-route-Language="@item.Name" title="@item.TagsName"><img src="~/Images/ImageThem/Icon/@imgLanguage"></a>
                        </li>*@

                            }
                        }
                    </ul>
                    @if (Model.checkThemDictionary != null)
                    {
                        if (Model.checkThemDictionary["LogIn"] == true)
                        {
                            <partial name="_LoginPartial" />
                        }
                    }
                </div>
            </div>
        </nav>


    </header>

    <!--overlay navigation -->
    @if (Model.checkThemDictionary != null)
    {
        if (Model.checkThemDictionary["MenuBar"] == true)
        {
            <div id="myNav" class="overlay">

                <!-- Button to close the overlay navigation -->
                <a href="javascript:void(0)" class="fa fa-window-close-o" style="font-size:50px;" onclick="closeNav()">&times;</a>

                <!-- Overlay content -->
                <div class="overlay-content">
                    @{
                        if (Model.checkThemDictionary != null)
                        {
                            if (Model.checkThemDictionary["RightSection"] == true)
                            {
                                if (Model.sectionFirstSteps!.ToList().Count() > 0)
                                {
                                    foreach (var firstStepItem in Model.sectionFirstSteps!)
                                    {
                                        <div class="blockinformationoverly" title="@firstStepItem.TagsName">
                                            <div class="right-balaoverly">@firstStepItem.Name</div>
                                            <div class="right-vasatoverly">
                                                <ul>
                                                    @foreach (var secondStepItem in Model.sectionSecondSteps!)
                                                    {
                                                        if (secondStepItem.Id_SectionFirstStep == firstStepItem.Id)
                                                        {
                                                            <li>
                                                                @Html.ActionLink(secondStepItem.Name, "SectionThirdStepView", new { idSecondStep = secondStepItem.Id,title=@secondStepItem.TagsName })

                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                            <div class="right-payinoverly">
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                    }
                </div>

            </div>
        }
    }
    <div class="container">

        @* @if (Model.checkThemDictionary != null)
        {
        @if (Model.checkThemDictionary["Header"] == true)
        {
        <div class="mainheader">
        @if (Model.checkThemDictionary["HeaderLeft"] == true)
        {
        <div class="partheaderleft">
        </div>
        }
        @if (Model.checkThemDictionary["HeaderCenter"] == true)
        {
        <div class="partheadercenter">
        @Localizer["websitetitle"]
        </div>
        }
        @if (Model.checkThemDictionary["HeaderRight"] == true)
        {
        <div class="partheaderright">
        </div>
        }
        </div>
        }
        }*@

        @if (Model.checkThemDictionary != null)
        {
            @if (Model.checkThemDictionary["Header"] == true)
            {
                <div class="mainheader">
                    <div class="mainheaderlogo">
                    </div>
                </div>
            }
            @if (Model.checkThemDictionary != null)
            {
                @if (Model.checkThemDictionary["HeaderTitle"] == true)
                {
                    <div class="websitetitle">
                        <div class="websitetitletext">
                            @Localizer["websitetitle"]
                            @foreach (var socialaddress in Model.sectionPostSocialVideos!)
                            {
                                if (socialaddress.Title == "FaceBook")
                                {
                                    <a href="@socialaddress.Address" title="@socialaddress.TagsName"><i class="fa fa-facebook"></i> </a>
                                }
                                if (socialaddress.Title == "Twiter")
                                {
                                    <a href="@socialaddress.Address" title="@socialaddress.TagsName"><i class="fa fa-twitter"></i> </a>
                                }
                                if (socialaddress.Title == "Instagram")
                                {
                                    <a href="@socialaddress.Address" title="@socialaddress.TagsName"><i class="fa fa-instagram"></i> </a>
                                }
                                if (socialaddress.Title == "YouTube")
                                {
                                    <a href="@socialaddress.Address" title="@socialaddress.TagsName"><i class="fa fa-youtube"></i> </a>
                                }
                                if (socialaddress.Title == "Telegram")
                                {
                                    <a href="@socialaddress.Address" title="@socialaddress.TagsName"><i class="fa fa-telegram"></i> </a>
                                }
                            }
                        </div>
                    </div>
                }
            }
        }

        @if (Model.checkThemDictionary != null)
        {
            if (Model.checkThemDictionary["MenuBar"] == true)
            {
                <nav id="categorynav" class="navbar navbar-expand-sm navbar-toggleable-sm sticky-top  bg-white border-bottom box-shadow">
                    <div class="container-fluid">
                        <a class="navbar-brand"> @Localizer["menu"]</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuitems" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation" style="border:solid 1px white;">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="menuitems" class="navbar-collapse collapse d-sm-inline-flex justify-content-between menu">
                            <ul class="navbar-nav flex-grow-1">
                                @if (Model.checkThemDictionary != null)
                                {
                                    if (Model.checkThemDictionary["NavBarSticky"] == true)
                                    {
                                        if (Model.sectionFirstSteps!.ToList().Count() >= 1)
                                        {
                                            foreach (var firstStepItem in Model.sectionFirstSteps!)
                                            {
                                                <li class="nav-item dropdown">
                                                    <i class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        @firstStepItem.Name
                                                    </i>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                        @foreach (var secondStepItem in Model.sectionSecondSteps!)
                                                        {

                                                            if (secondStepItem.Id_SectionFirstStep == firstStepItem.Id)
                                                            {
                                                                <li>
                                                                    @Html.ActionLink(secondStepItem.Name, "SectionThirdStepView", new { idSecondStep = secondStepItem.Id,title=@secondStepItem.TagsName })
                                                                </li>
                                                            }
                                                        }

                                                    </ul>
                                                </li>
                                            }
                                        }
                                    }
                                }

                            </ul>
                            @if (Model.checkThemDictionary != null)
                            {
                                @if (Model.checkThemDictionary["Search"] == true)
                                {
                                    using (Html.BeginForm("PostsSearches", "Home"))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div id="menu">
                                            <div id="menuleft">

                                                <input type="submit" value="@Localizer["search"]" class="submitbutton" />
                                                @Html.TextBox("searchtxt")
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </nav>
            }
        }
        @if (Model.checkThemDictionary != null)
        {
            @if (Model.checkThemDictionary["Marquee"] == true)
            {
                @if (CultureInfo.CurrentCulture.Name == "ku-Arab" || CultureInfo.CurrentCulture.Name == "fa-IR")
                {
                    <div class="marquee">
                        <div class="marqueespinner">
                            <div class="spinner-grow text-primary" role="status">
                                <span class="visually-hidden"></span>
                            </div>
                        </div>
                        <div class="marqueenews">

                            <marquee direction="right" onmouseover="this.stop()" onmouseout="this.start()">
                                @foreach (var item in Model.sectionPostTop12Steps!)
                                {
                                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-circle" aria-hidden="true"></i>@Html.ActionLink(@item.Title, "PostView", new { idPost = item.Id , title=@item.TagsName})</strong>
                                }
                            </marquee>
                        </div>
                    </div>
                }
                @if (CultureInfo.CurrentCulture.Name == "en-US")
                {
                    <div class="marquee">
                        <div class="marqueespinner">
                            <div class="spinner-grow text-primary" role="status">
                                <span class="visually-hidden"></span>
                            </div>
                        </div>
                        <div class="marqueenews">

                            <marquee direction="left" onmouseover="this.stop()" onmouseout="this.start()">
                                @foreach (var item in Model.sectionPostTop12Steps!)
                                {
                                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-circle" aria-hidden="true"></i>@Html.ActionLink(@item.Title, "PostView", new { idPost = item.Id, title=@item.TagsName })</strong>
                                }
                            </marquee>
                        </div>
                    </div>
                }

            }

        }
        <div id="container">
            @if (Model.checkThemDictionary != null)
            {
                if (Model.checkThemDictionary["MenuBar"] == true)
                {
                    <div class="downloadbutton-allsubjects" onclick="openNav()">
                        <!-- Use any element to open/show the overlay navigation menu -->
                        <span onclick="openNav()">@Localizer["menubutton"]</span>
                    </div>
                }
            }
            @* <div id="right">
            @{
            if (Model.checkThemDictionary != null)
            {
            if (Model.checkThemDictionary["RightSection"] == true)
            {
            if (Model.sectionFirstSteps!.ToList().Count() >= 1)
            {
            foreach (var firstStepItem in Model.sectionFirstSteps!)
            {
            <div class="blockinformationoverly" title="@firstStepItem.TagsName">
            <div class="right-balaoverly">@firstStepItem.Name</div>
            <div class="right-vasatoverly">
            <ul>
            @foreach (var secondStepItem in Model.sectionSecondSteps!)
            {
            if (secondStepItem.Id_SectionFirstStep == firstStepItem.Id)
            {
            <li>
            @Html.ActionLink(secondStepItem.Name, "SectionThirdStepView", new { idSecondStep = secondStepItem.Id,title=@secondStepItem.TagsName })
            </li>
            }
            }
            </ul>
            </div>
            <div class="right-payinoverly">
            </div>
            </div>
            }
            }
            }
            }
            }
            <br />
            </div>*@
            <div id="left">
                @if (Model.checkThemDictionary != null)
                {
                    @if (Model.checkThemDictionary["LeftSection"] == true)
                    {
                        <main role="main">
                            @RenderBody()
                        </main>

                    }
                }
            </div>

            @if (Model.checkThemDictionary != null)
            {
                @if (Model.checkThemDictionary["FooterCategories"] == true)
                {
                    <div class="footercategories">
                        <div class="footercategoriessection">
                            @if (Model.checkThemDictionary != null)
                            {
                                @if (Model.checkThemDictionary["SectionVideo"] == true)
                                {
                                    <div class="sectionscontainer">
                                        <div class="containerindex">
                                            <div class="viewcontainerindextitleright">

                                                <div><a asp-action="ViewAllPostOrderByType" asp-controller="Home" asp-route-postType="Video"> @Localizer["newestvideos"]</a>   ▼ </div>
                                            </div>
                                        </div>
                                        <div id="viewlearnhomeright" style="min-height:337px;border:none;">
                                            @foreach (var item in Model.sectionPostTop5VideoSteps!)
                                            {
                                                <div class="viewlearnhomerightiner" style="border:none;" title="@item.TagsName">
                                                    <div class="viewlearn-lefthome">
                                                        <div class="divlinetitle"><i class="fa fa-circle" aria-hidden="true"></i>@Html.ActionLink(@item.ShortDescription, "PostView", new { idPost = item.Id })   </div>
                                                        <div class="divline"><i class="fa fa-clock-o"></i> @item.CreateDate.ToString("HH:mm -MM/dd/yyyy")<i class="fa fa-user"></i> @item.WriterName  </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                }
                            }
                        </div>
                        <div class="footercategoriessection">
                            @if (Model.checkThemDictionary != null)
                            {
                                @if (Model.checkThemDictionary["SectionArticle"] == true)
                                {
                                    <div class="sectionscontainer">
                                        <div class="containerindex">
                                            <div class="viewcontainerindextitleright">

                                                <div> <a asp-action="ViewAllPostOrderByType" asp-controller="Home" asp-route-postType="Article">@Localizer["newestarticles"]</a>    ▼ </div>
                                            </div>
                                        </div>
                                        <div id="viewlearnhomeright" style="min-height:337px;border:none;">
                                            @foreach (var item in Model.sectionPostTop5ArticleSteps!)
                                            {
                                                <div class="viewlearnhomerightiner" style="border:none;" title="@item.TagsName">
                                                    <div class="viewlearn-lefthome">
                                                        <div class="divlinetitle"><i class="fa fa-circle" aria-hidden="true"></i>@Html.ActionLink(@item.ShortDescription, "PostView", new { idPost = item.Id })   </div>
                                                        <div class="divline"><i class="fa fa-clock-o"></i>  @item.CreateDate.ToString("HH:mm -MM/dd/yyyy")<i class="fa fa-user"></i> @item.WriterName  </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="footercategoriessection">
                            @if (Model.checkThemDictionary != null)
                            {
                                @if (Model.checkThemDictionary["SectionFile"] == true)
                                {
                                    <div class="sectionscontainer">
                                        <div class="containerindex">
                                            <div class="viewcontainerindextitleright">
                                                <div> <a asp-action="ViewAllPostOrderByType" asp-controller="Home" asp-route-postType="File">@Localizer["newestfiles"] </a>   ▼ </div>
                                            </div>
                                        </div>
                                        <div id="viewlearnhomeright" style="min-height:337px;border:none;">
                                            @foreach (var item in Model.sectionPostTop5FileSteps!)
                                            {
                                                <div class="viewlearnhomerightiner" style="border:none;" title="@item.TagsName">
                                                    <div class="viewlearn-lefthome">
                                                        <div class="divlinetitle"><i class="fa fa-circle" aria-hidden="true"></i>@Html.ActionLink(@item.ShortDescription, "PostView", new { idPost = item.Id })   </div>
                                                        <div class="divline"><i class="fa fa-clock-o"></i> @item.CreateDate.ToString("HH:mm -MM/dd/yyyy") <i class="fa fa-user"></i> @item.WriterName </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }

            }
        </div>

        <div id="footer">
            <hr />
            @if (Model.checkThemDictionary != null)
            {
                @if (Model.checkThemDictionary["Footer"] == true)
                {
                    <div>
                        Copyright 2023
                    </div>
                }
            }
        </div>
    </div>
    @*<script src="~/js/slideshow.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
