@model IEnumerable<Model.SectionPostVideo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdministratorArea/Views/Shared/_Layout.cshtml";
    int idTemp = @ViewBag.idTemp;
}

<h5><a class="btn btn-info" style="float:left;padding:0 12px;" asp-action="Index" asp-controller="SectionPostSteps" asp-route-idTemp="@ViewBag.idTemp">گەڕانەوە بۆ لیست</a>ویدیۆکان<a asp-action="Create" asp-route-idTemp="@idTemp" class="fa fa-plus"></a></h5>
@if (@ViewBag.idTemp != null)
{
    <h5>@ViewBag.ParentDetail</h5>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.Label("ناوی سۆشیال")
            </th>
            <th>
                @Html.Label("ناوی پۆست")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>  
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionPostSocialVideo!.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionPostStep!.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"class="fa fa-edit"> </a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="fa fa-book"> </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fa fa-trash"> </a>

            </td>
        </tr>
}
    </tbody>
</table>
