@model Model.ArmyPostDetails

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/ArmyMembersArea/Views/Shared/_Layout.cshtml";
}

<h4>دیتن-پۆستەکان</h4>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Like)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Like)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareAsPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareAsPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShareAsStory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShareAsStory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Twit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Twit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Save)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Save)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentPssitive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentPssitive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentNegetive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentNegetive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Block)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Block)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Report)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Report)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagsName)
        </dd>
    </dl>
    
    <div class="row">
        <div class="col-md-2">
            <h5>دڵنیایی لە لابردنی؟</h5>
        </div>
        <div class="col-md-4">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="لابردن" class="btn btn-danger" />
                <a class="btn btn-info" asp-action="Index">گەڕانەوە بۆ لیست</a>
            </form>
        </div>
    </div>
</div>
