@model Model.ArmyPostDetails

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/ArmyMembersArea/Views/Shared/_Layout.cshtml";
}

<h4>گۆڕین-پۆستەکان</h4>       
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Timable" /> @Html.DisplayNameFor(model => model.Timable)
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="CreateDate" class="control-label"></label>
                        <input asp-for="CreateDate" class="form-control" />
                        <span asp-validation-for="CreateDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TagsName" class="control-label"></label>
                        <input asp-for="TagsName" class="form-control" />
                        <span asp-validation-for="TagsName" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Link" class="control-label"></label>
                        <input asp-for="Link" class="form-control" />
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Like" /> @Html.DisplayNameFor(model => model.Like)
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="ShareAsPost" /> @Html.DisplayNameFor(model => model.ShareAsPost)
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Twit" /> @Html.DisplayNameFor(model => model.Twit)
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Save" /> @Html.DisplayNameFor(model => model.Save)
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="CommentPssitive" /> @Html.DisplayNameFor(model => model.CommentPssitive)
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="CommentNegetive" /> @Html.DisplayNameFor(model => model.CommentNegetive)
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Block" /> @Html.DisplayNameFor(model => model.Block)
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Report" /> @Html.DisplayNameFor(model => model.Report)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="دانان" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">گەڕانەوە بۆ لیست</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
