@model Model.ArmySocialsName

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/ArmyMembersArea/Views/Shared/_Layout.cshtml";
}

<h4>دیتن-سۆشیال</h4>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desciption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desciption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagsName)
        </dd>
    </dl>

    <div class="row">
        <div class="col-md-2">
            <h5>دڵنیایی لە لابردنی؟</h5>
        </div>
        <div class="col-md-4">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="لابردن" class="btn btn-danger" />
                <a class="btn btn-info" asp-action="Index">گەڕانەوە بۆ لیست</a>
            </form>
        </div>
    </div>
</div>
