@model IEnumerable<Model.ArmySocialsName>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/ArmyMembersArea/Views/Shared/_Layout.cshtml";
}

<h5>سۆشیال<a asp-action="Create" class="fa fa-plus"></a></h5>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desciption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desciption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="fa fa-edit"> </a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="fa fa-book"> </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fa fa-trash"> </a>
            </td>
        </tr>
}
    </tbody>
</table>
