@model IEnumerable<Model.SectionSecondStep>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdministratorArea/Views/Shared/_Layout.cshtml";
    int idTemp = @ViewBag.idTemp;
}

<h5>بابەتەکان بەشی دو<a asp-action="Create" asp-route-idTemp="@idTemp"><img class="imgicon" src="~/Images/ImageThem/Icon/AddTitle.png"></a></h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.Label("ناوی سەردەستە")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectionFirstStep.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/Images/ImageThem/Icon/Edit.png"></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="~/Images/ImageThem/Icon/Detail.png"></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/Images/ImageThem/Icon/Delete.png"></a> |
                    <a asp-action="Index" asp-controller="SectionThirdSteps" asp-route-idTemp="@item.Id"><img src="~/Images/ImageThem/Icon/Folder.png"></a>

            </td>
        </tr>
}
    </tbody>
</table>
