@using Microsoft.AspNetCore.Mvc.Localization;
@using Model.ViewModels
@model ViewModelHomePage
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
   
}
<div class="leftmiddle">
    @if (Model.checkThemDictionary != null)
    {
        @if (Model.checkThemDictionary["News"] == true)
        {
            <div class="newscontainer">
                <div class="containerindex">
                    <div class="viewcontainerindextitleright">

                        <div class="btn btn-info"><a asp-action="ViewAllPostInfinitScroll" asp-controller="Home">@Localizer["newestpost"]</a> ▼ </div>
                    

                    </div>
                </div>
                <div id="viewlearnhomeright">
                    @foreach (var item in Model.sectionPostTop10Steps!)
                    {
                        <div class="viewlearnhomerightiner" title="@item.TagsName">
                            <div class="viewlearn-lefthome">
                                <div class="divlinetitle" ><i class="fa fa-circle" aria-hidden="true"></i>@Html.ActionLink(@item.ShortDescription, "PostView", new { idPost = item.Id })   </div>
                                <div class="divline"><img src="~/Images/ImageThem/Icon/TimeImage.png"> @item.CreateDate.ToString("HH:mm -MM/dd/yyyy")  </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        }
    }
    @if (Model.checkThemDictionary != null)
    {
        @if (Model.checkThemDictionary["ThirdStepCategories"] == true)
        {
            <div class="newscontainer">
                <div class="containerindex">
                    <div class="viewcontainerindextitleright">

                        <div class="btn btn-info">  @Localizer["newestcategory"]  ▼ </div>
                    </div>
                </div>
                <div id="viewlearnhomeright">
                    @foreach (var item in Model.sectionThirdStepCategories!)
                    {
                        <div class="viewlearnhomerightiner" title="@item.TagsName">
                            <div class="viewlearn-lefthome">
                                <div class="divlinetitle"><i class="fa fa-list"></i> @Html.ActionLink(@item.Name, "PostsCategoryView", new { idThirdStep = item.Id })   </div>
                                <div class="divlinetitle"><i class="fa fa-book"></i>@item.Description  </div>
                                <div class="divline"><img src="~/Images/ImageThem/Icon/TimeImage.png"> @item.CreateDate.ToString("HH:mm -MM/dd/yyyy")  </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            
        }
    }
</div>
<div class="leftleft">
   
    @if (Model.checkThemDictionary != null)
    {
        @if (Model.checkThemDictionary["MostViewd"] == true)
        {
            <div class="sectionscontainer">
                <div class="containerindex">
                    <div class="viewcontainerindextitleright">

                        <div class="btn btn-info">  @Localizer["mostviewed"] ▼ </div>
                    </div>
                </div>
                <div id="viewlearnhomeright">
                    @foreach (var item in Model.sectionPostTop10MostViewedSteps!)
                    {
                        <div class="viewlearnhomerightiner" title="@item.TagsName">
                            <div class="viewlearn-lefthome">
                                <div class="divlinetitle"><i class="fa fa-circle" aria-hidden="true"></i>@Html.ActionLink(@item.ShortDescription, "PostView", new { idPost = item.Id })   </div>
                                <div class="divline"><img src="~/Images/ImageThem/Icon/TimeImage.png"> @item.CreateDate.ToString("HH:mm -MM/dd/yyyy")  </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        }
    }
</div>


