@using Microsoft.AspNetCore.Mvc.Localization;
@using Model.ViewModels
@model ViewModelHomePage
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Categories";
}

@if (Model.checkThemDictionary != null)
{
    @if (Model.checkThemDictionary["RightSection"] == true)
    {
        foreach (var item in Model.sectionThirdSteps!)
        {
            <div class="viewsubcat" title="@item.TagsName">

                <div class="left-bala-subcats">  @item.Name</div>
                <div class="left-vasat-subcats">@Html.Raw(@item.Description)</div>
                <div class="divlinesubcat"><i class="fa fa-clock-o"></i> @item.CreateDate.ToString("HH:mm -MM/dd/yyyy")  </div>
                <div class="downloadbutton-subcats  ">
                    <a asp-action="PostsCategoryView" asp-route-idThirdStep=@item.Id>@Localizer["open"]</a>  </div>
                <div class="left-payin-subcats"></div>
            </div>

        }
    }
}